#welcome1 {
    padding-top: 5vh;
    font-size: 13vh;
    font-weight: bold;
}

#welcome1off {
    color: rgb(238, 238, 238);
}

#welcome2 {
    font-size: 13vh;
}

#welcome2Bold {
    font-weight: bolder;
}

#welcome3 {
    font-size: 17vh;
}

#welcome4 {
    font-size: 22vh;
}