#welcome1 {
    padding-top: 5vw;
    font-size: 6.3vw;
    font-weight: bold;
}

#welcome1off {
    color: rgb(238, 238, 238);
}

#welcome2 {
    font-size: 6.3vw;
}

#welcome2Bold {
    font-weight: bolder;
}

#welcome3 {
    font-size: 7vw;
}

#welcome4 {
    font-size: 9.5vw;
}